
  /* .h2{
    margin-left: 0px;
    margin-top: 100px;
  } */
  

  /*button*/
  .btn {
    position: relative;
    top: -10px;
    left: 940px;
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid #007bff; 
    border-radius: 4px;
    background-color: #007bff; 
    color: #fff; 
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
/* Hover effect */
.btn:hover {
    background-color: #0056b3; 
    border-color: #0056b3; 
}